<?xml version="1.0" encoding="UTF-8"?>
<Context>


    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>WEB-INF/tomcat-web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>


	<Environment name="logLevel" type="java.lang.String" value="INFO"/>
    <Environment name="logFile" type="java.lang.String" value="/home/zoser/Documentos/CURSO_TOMCAT/tomcat_eclipse_logger/hipotecas.log"/>
    
    <Resource name="jdbc/mysql_administracion" auth="Container"
              type="javax.sql.DataSource" maxActive="100" maxIdle="30" maxWait="10000"
              removeAbandoned="true" username="z0s3r77" password="supersecret"
              driverClassName="com.mysql.cj.jdbc.Driver"
              url="jdbc:mysql://tomcat-hipotecas_hipotecas_mysql_1/administracion" />
</Context>